.header {
	background-color: rgba(223, 210, 208, .35) !important;
	-webkit-backdrop-filter: blur(6px) !important;
	backdrop-filter: blur(6px) !important;
}

.navbar {
	display: flex;
	position: sticky;
	top:0;
}
